*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display';
    scroll-behavior: smooth;
    user-select: none;
}

:focus{
    outline: none;
}

.scrolled{
    box-shadow: 0px 0px 0.6vw 0vw rgb(0 0 0 / 20%);
}

.up-arrow{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #f8f9fa;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    color: #000;
    box-shadow: 0px 0px 0.6vw 0vw rgb(0 0 0 / 20%);
}

.arrow-hide{
    display: none;
}

.arrow-visible{
    display: block;
}

.service-box{
    box-shadow: 0px 0px 0.6vw 0vw rgb(0 0 0 / 20%);
    border-radius: 2vw;
}

hr{
    height: .3vw !important;
    opacity: 1;
    border-radius: 50vw;
}

.contact-box{
    box-shadow: 0px 0px 0.6vw 0vw rgb(0 0 0 / 20%);
}

.testimonial-head{
    position: absolute;
    top: 160vw;
    right: 20vw;
}

.sidebar-border{
    box-shadow: 0vw 0vw 0.781vw 0.078vw rgba(0, 0, 0, 0.3);
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}

.modal-dialog{
    width: 63vw;
    max-width: 63vw;
    margin: 1vw auto;
    border: none;
    outline: none;
    border-radius: .5vw;
}

.modal-content{
    border: none;
    border-radius: .5vw;
}

abbr[title]{
    text-decoration: none;
}
